.horizontal-slider {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE */
}

.slider-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

.slider-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}