@tailwind base;
@tailwind components;
@tailwind utilities;

.arrowIcon-1{
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 24px;
    margin-left: 8px;
    height: 24px;
    background-color: rgb(59 130 246 / var(--tw-text-opacity));
    mask-image: url(arrow-right.svg);
}

.border-none-focus:focus{
  border: none !important;
  outline: none !important;
}
@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@keyframes takePhoto {
  0%{
    height: 100%
  }

  100%{
    height: 0%
  }
}

.takePhotoAnimation {
  animation:takePhoto forwards  ;
  animation-duration: 6s;
}

.arowDownIcon-purple{
  mask-image: url(/arrow-down.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-5 h-5 rotate-180 bg-[#544BF0];
}

.arowUpIcon-purple{
  mask-image: url(/arrow-down.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-5 h-5 bg-[#544BF0];
}

.downloadIcon-purple{
  mask-image: url(/download.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
  @apply w-4 h-4 bg-[#544BF0];
}
.hiddenScrollBar::-webkit-scrollbar{
  display: none;
}

.shareIcon-purple{
  mask-image: url(/share.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-4 h-4 bg-[#544BF0];
}

.arrow-right-white{
  mask-image: url(/arrow-right.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 bg-white;
}

.arrow-left-disable{
  mask-image: url(/arrow-left.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 bg-[#7E7E7E];
}

.arrow-right-purple{
  mask-image: url(/arrow-right.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 bg-primary-color;
}

.filterIcon-white {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 6px;
  mask-image: url(filter-2.svg);
  @apply w-4 h-4 bg-white;
}

.pelusicon{
  mask-image: url(/fi_plus-blue.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 mr-2 bg-inherit;
}

.editIcon{
  mask-image: url(/icons/Icon-left.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-4 h-4 mr-2 bg-inherit;
}

.logoutIcon{
  mask-image: url(./logout.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 mr-2 bg-[#2E2E2E];
}

.arowDownIcon-purple[data-mode='true']{
  @apply rotate-0
}

.profile-icon {
  mask-image: url(/icons/user.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;  
  @apply mr-2 w-6 h-6  bg-[#2E2E2E]
}

.notification-icon {
  mask-image: url(/icons/notification.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;  
  @apply mr-2 w-6 h-6  bg-[#2E2E2E]
}

.Bill-icon {
  mask-image: url(/icons/cards.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;  
  @apply mr-2 w-6 h-6  bg-[#2E2E2E]
}
.Bill-icon {
  mask-image: url(/icons/cards.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;  
  @apply mr-2 w-6 h-6  bg-[#2E2E2E]
}

.trash-icon {
  mask-image: url(/icons/trash.svg);
  mask-size: 100%;
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;  
  @apply mr-2 w-6 h-6  bg-[#2E2E2E]
}


.activeIcon {
  @apply bg-primary-color 
}


.activeText {
  @apply text-primary-color !important
}
input {
@apply fill-transparent
}

.shadow-box {
  box-shadow: 0px 0px 12px 0px #00000026;
}

.decorated-dot::before {
  content: "•";
  color: inherit;
  font-size: 15px; 
  vertical-align: top;
  @apply mx-2; 
}