#root {
    font-family: Roboto;
}
h1,h2,h3,h4,h5,h6,div {
    cursor: default;
}
.character{
    border: none ;
    border-bottom: 2px solid #7E7E7E !important;
    background-color: white;
}

.stdropdown-container{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    max-width: 330px;
}

.stsearch-box input {
    border: none;
    outline: none;
    font-family: roboto;
}

.stdropdown-item{
    font-family: roboto;
}